$background-color: #34495e;
$warning-color: #c0392b;
$font-light: #ecf0f1;
$font-dark: #0a1c2e;
$font-link: #2980b9;

body {
  background: $background-color;

  section {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
}

@import 'Start/Start';
